iot/node_red_flow.json
[
  {
    "id": "wifi-csi-iot-tab",
    "type": "tab",
    "label": "WiFi CSI TinyML IoT",
    "disabled": false,
    "info": "Importable copy of the running flow (iot/node_red_userdir/flows.json). MQTT-driven: subscribes to wifi-csi/room/state, serves the dashboard at /wifi-csi, REST at /api/room-state, and SQLite history at /api/room-history, with a file fallback to iot/latest_state.json."
  },
  {
    "id": "local-mqtt-broker",
    "type": "mqtt-broker",
    "name": "Local broker",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "node-red-wifi-csi",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mqtt-in-state",
    "type": "mqtt in",
    "z": "wifi-csi-iot-tab",
    "name": "sub wifi-csi/room/state",
    "topic": "wifi-csi/room/state",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "local-mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 100,
    "wires": [["json-mqtt"]]
  },
  {
    "id": "json-mqtt",
    "type": "json",
    "z": "wifi-csi-iot-tab",
    "name": "parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 400,
    "y": 100,
    "wires": [["ingest-mqtt"]]
  },
  {
    "id": "ingest-mqtt",
    "type": "function",
    "z": "wifi-csi-iot-tab",
    "name": "ingest MQTT (primary)",
    "func": "const p = msg.payload || {};\nif (!p.ts_utc) p.ts_utc = new Date().toISOString();\np.mqtt = Object.assign({ status: 'online', topic: 'wifi-csi/room/state' }, p.mqtt || {});\nflow.set('lastState', p);\nflow.set('lastStateTs', Date.now());\nconst conf = Math.round((Number(p.confidence) || 0) * 100);\nnode.status({fill:'green', shape:'dot', text:`MQTT ${p.state || '?'} ${conf}% ${new Date().toLocaleTimeString()}`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 100,
    "wires": [["debug-mqtt"]]
  },
  {
    "id": "debug-mqtt",
    "type": "debug",
    "z": "wifi-csi-iot-tab",
    "name": "MQTT in",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.state",
    "statusType": "msg",
    "x": 850,
    "y": 100,
    "wires": []
  },
  {
    "id": "poll-file",
    "type": "inject",
    "z": "wifi-csi-iot-tab",
    "name": "poll file fallback every 2s",
    "props": [{"p": "payload"}],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 200,
    "wires": [["read-file"]]
  },
  {
    "id": "read-file",
    "type": "file in",
    "z": "wifi-csi-iot-tab",
    "name": "read iot/latest_state.json",
    "filename": "iot/latest_state.json",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 440,
    "y": 200,
    "wires": [["json-file"]]
  },
  {
    "id": "json-file",
    "type": "json",
    "z": "wifi-csi-iot-tab",
    "name": "parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 660,
    "y": 200,
    "wires": [["ingest-file"]]
  },
  {
    "id": "ingest-file",
    "type": "function",
    "z": "wifi-csi-iot-tab",
    "name": "ingest file (only if MQTT stale)",
    "func": "const ts = flow.get('lastStateTs') || 0;\nif (Date.now() - ts < 6000) {\n    return null;\n}\nconst p = msg.payload || {};\nflow.set('lastState', p);\nnode.status({fill:'yellow', shape:'ring', text:`file fallback ${p.state || '?'}`});\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "http-api",
    "type": "http in",
    "z": "wifi-csi-iot-tab",
    "name": "GET /api/room-state",
    "url": "/api/room-state",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 320,
    "wires": [["serve-state"]]
  },
  {
    "id": "serve-state",
    "type": "function",
    "z": "wifi-csi-iot-tab",
    "name": "serve lastState",
    "func": "const p = flow.get('lastState');\nmsg.payload = p || { state: 'unknown', note: 'podaci još nisu dostupni iz brokera, gateway-a ili ESP32-S3 pločice' };\nmsg.headers = { 'content-type': 'application/json; charset=utf-8', 'cache-control': 'no-store' };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 320,
    "wires": [["api-response"]]
  },
  {
    "id": "api-response",
    "type": "http response",
    "z": "wifi-csi-iot-tab",
    "name": "JSON response",
    "statusCode": "",
    "headers": {},
    "x": 680,
    "y": 320,
    "wires": []
  },
  {
    "id": "http-history",
    "type": "http in",
    "z": "wifi-csi-iot-tab",
    "name": "GET /api/room-history",
    "url": "/api/room-history",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 380,
    "wires": [["exec-history"]]
  },
  {
    "id": "exec-history",
    "type": "exec",
    "z": "wifi-csi-iot-tab",
    "command": "\".\\.venv\\Scripts\\python.exe\" scripts\\inspect_iot_db.py --json --minutes 10 --limit 120",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "query SQLite history",
    "x": 470,
    "y": 380,
    "wires": [["json-history"], ["history-error"], []]
  },
  {
    "id": "json-history",
    "type": "json",
    "z": "wifi-csi-iot-tab",
    "name": "parse history JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 700,
    "y": 380,
    "wires": [["history-response"]]
  },
  {
    "id": "history-error",
    "type": "function",
    "z": "wifi-csi-iot-tab",
    "name": "history error",
    "func": "msg.statusCode = 500;\nmsg.payload = { error: String(msg.payload || 'history query failed') };\nmsg.headers = { 'content-type': 'application/json; charset=utf-8', 'cache-control': 'no-store' };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 420,
    "wires": [["history-response"]]
  },
  {
    "id": "history-response",
    "type": "http response",
    "z": "wifi-csi-iot-tab",
    "name": "History JSON response",
    "statusCode": "",
    "headers": {"content-type": "application/json; charset=utf-8", "cache-control": "no-store"},
    "x": 950,
    "y": 380,
    "wires": []
  },
  {
    "id": "http-dashboard",
    "type": "http in",
    "z": "wifi-csi-iot-tab",
    "name": "GET /wifi-csi",
    "url": "/wifi-csi",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 400,
    "wires": [["read-dashboard"]]
  },
  {
    "id": "read-dashboard",
    "type": "file in",
    "z": "wifi-csi-iot-tab",
    "name": "read dashboard HTML",
    "filename": "iot/node_red_userdir/public/wifi-csi.html",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 420,
    "y": 400,
    "wires": [["dashboard-response"]]
  },
  {
    "id": "dashboard-response",
    "type": "http response",
    "z": "wifi-csi-iot-tab",
    "name": "HTML response",
    "statusCode": "",
    "headers": {"content-type": "text/html; charset=utf-8"},
    "x": 660,
    "y": 400,
    "wires": []
  }
]
